@import url('https://fonts.cdnfonts.com/css/geomanist');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body,body::after,body::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'geomanist','Inter', sans-serif;
  font-size: 1rem;
}

.dark-theme{
  background-color: #2f3640;
  z-index:0;
  transition: all .5s ease;

}
.dark-theme h1,h2,h3,h4,h5,ol,ul,li,a{
  color:#fff;
}

.light-theme{
  background-color: #fff;
  transition: all .5s ease;

}
.light-theme h1,h2,h3,h4,h5,ol,ul,li,a{
  color:#000;
}
a{
  text-decoration: none;
}
li,ol{
  list-style: none;
}
